.attach_pid*
.settings
.project
.idea
.run
.classpath
.gradle
/target
*/target/
pom.xml.*
*/pom.xml.*
/*.properties
hs_err_*.log
/*.jasper
/*.jrxml
/*.jsmx
/*.xsl
*.orig
*.tmp
/hsqldb_viewer.bat
/*.log
/*.zip
/*.iml
/**/*.iml
/*.txt
.m2
/.nvmrc
/*/workdir
*.tgz
